:root {
	--color-background: #fafaf9;
  --color-text: #1F2937;
  --color-accent: #E11D48;
  --color-border: #D6D3D1;
	--color-stone-200: #E7E5E4;
	--color-stone-200: #E7E5E4;
  --color-blue-bg: #DBEAFE;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  /* padding-inline: 100px; */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 24px;
  }
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'campaign-serif', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: var(--color-accent);
  text-decoration: none;
}

.site-nav a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--color-text);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.site-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-nav a.active {
  color: var(--color-accent);
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-block: 20px;
  border-bottom: 1px solid var(--color-border);
  backdrop-filter: blur(4px);
  background-color: var(--color-background);
}

/* Hero */
.hero {
  background-color: #fff;
  padding-block: 30px 50px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.hero__greeting {
  font-family: "campaign-serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: var(--color-accent);
	margin: 0 0 10px;
}
.hero__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0 0 20px;
}
.hero__description {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0 0 20px;
}
.hero__info {
  display: flex;
  gap: 10px;
  color: var(--color-text);
	margin: 0 0 20px;
}
.hero__info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
}
.hero__buttons {
  display: flex;
  gap: 20px;
}
.button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.005em;
  padding: 0 24px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  text-align: center;
  text-decoration: none;
}
.button--primary {
  background-color: var(--color-accent);
  color: #fff;
}
.button--secondary {
  background-color: #fff;
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

/* ‼️Selected Work */
.selected-work {
  padding-top: 0;
	padding-bottom: 50px;
}
.selected-work__title {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin-bottom: 30px;
  text-align: left;
}
.selected-work__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-card {
  width: 100%;
  background-color: #F3E8FF;
  border: 1px solid #E9D5FF;
  border-radius: 10px;
  padding: 20px 30px;
	padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.work-card--blue {
  background-color: #BFDBFE;
}

.work-card--yellow {
  background-color: #FEF08A;
}

.work-card__link {
  position: absolute;
  inset: 0;
  z-index: 10;
  text-decoration: none;
}
.work-card-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.work-card__general-info {
  display: flex;
  flex-direction: column;
  width: 674px;
}
.work-card__icon {
  width: 46px;
  height: 46px;
}
.work-card__title {
  font-family: "Campaign Serif", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #9333EA;
  margin: 0;
	padding-bottom: 8px;
}
.work-card__title--blue{
	color: #2563EB;
}
.work-card__title--yellow {
	color: #A16207;
}
.work-card__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
	padding-bottom: 8px;
}
.work-card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}
.work-card__image-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.work-card__image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
}

/* ‼️FOOTER */
.site-footer {
  background-color: #fff;
  padding-block: 20px 40px; /* верх 80, низ 40 */
  border-top: 1px solid var(--color-border);
}

.site-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.site-footer__right {
  display: flex;
  flex-direction: row;
  gap: 70px; /* расстояние между Navigation и Contact */
}

.site-footer__name {
  font-family: 'Campaign Serif', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0;
  color: var(--color-accent);
  margin-bottom: 10px;
}

.site-footer__email {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: #57534E;
  margin-bottom: 10px;
}

.site-footer__tagline {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #57534E;
  margin-bottom: 0; /* последний в этом блоке */
}

.site-footer__credit {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #A8A29E;
  margin-top: 22px;
}

.site-footer__heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin-bottom: 10px;
}

.site-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer__list a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #57534E;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.site-footer__list li {
  margin-bottom: 10px;
}

.external-icon {
  width: 16px;
  height: 16px;
}

/* 🔺Page ABOUT */
.about-hero {
  padding-top: 40px;
  padding-bottom: 40px;
}


.about-hero__content {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
	align-items: center; /* вместо flex-start */
  gap: 40px; /* отступ между колонками */
}

.about-hero__item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}


.about-hero__image-block {
  flex: 0 0 390px; /* фиксированная ширина фото */
  display: flex;
  flex-direction: column;
  gap: 20px; /* между фото и подписью */
}

.about-hero__image {
  width: 100%;
  height: auto; /* сохраняет пропорции */
  border-radius: 8px;
  display: block;
}

.about-hero__caption {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #57534E;
}

.about-hero__heading {
  font-family: 'Campaign Serif', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0;
  color: var(--color-accent);
  margin: 0;
	padding-bottom: 20px;
}

.about-hero__intro {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
	padding-bottom: 20px;
}

/*‼️ CASE 1 */
.case-hero {
  padding-top: 40px;
  padding-bottom: 0;
  text-align: center;
}

.case-hero__client {
  font-family: 'Campaign Serif', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-accent);
  margin-bottom: 10px;
}

.case-hero__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-image {
   padding-top: 40px;
  padding-bottom: 0;
}

.case-image__wrapper {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
}

.case-image__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0; /* без двойного радиуса */
}

.case-overview {
  padding-top: 40px;
  padding-bottom: 0;
}

.case-overview__content {
  display: flex;
  justify-content: space-between;
  gap: 60px; /* регулируется по макету между колонками */
}

.case-overview__description {
  flex: 1;
  max-width: 640px; /* можешь уточнить по макету */
  display: flex;
  flex-direction: column;
  gap: 20px; /* между h2, параграфами и note */
}

.case-overview__heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-overview__paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-overview__note {
  background-color: #DBEAFE;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: #1E40AF;
}

.case-overview__meta {
  flex: 0 0 300px; /* фикс ширина или max-width по макету */
  display: flex;
  flex-direction: column;
  gap: 10px; /* расстояние между фреймами */
  margin: 0;
  padding: 0;
}

.case-overview__meta-item {
  display: flex;
  flex-direction: column;
  gap: 5px; /* между заголовком и значением */
}

.case-overview__meta-item dt {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
}

.case-overview__meta-item dd {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-context {
  padding-top: 40px;
  padding-bottom: 0;
}

.case-context__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.case-context__heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.005em;
  text-align: center;
  color: var(--color-text);
  margin: 0;
}


.case-context__items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.case-context__item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}


.case-context__term {
  /* flex: 0 0 auto; */
  /* width: 200px;  */
	flex: 0 0 200px; /* фикс ширина */
  white-space: nowrap; /* ❗️ не переносить на новую строку */
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-context__desc {
  flex: 0 0 760px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-context__desc p {
  margin-bottom: 16px;
}

.case-context__list {
  margin-top: 16px;
  padding-left: 18px; /* отступ для буллетов */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.case-context__list li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
}

/* 🔺 How might we section */

.case-howmightwe {
  padding-top: 40px;
  padding-bottom: 0;
}

.case-howmightwe__heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.005em;
  text-align: center;
  color: var(--color-text);
  margin: 0;
}

.case-howmightwe__block {
  padding-top: 40px;
  padding-bottom: 0;
}

.case-howmightwe__image-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid var(--color-stone-200);
  border-radius: 8px;
  overflow: hidden;
}


.case-howmightwe__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0; /* внутри wrapper уже есть радиус */
}

/* туче sub-block */
.case-howmightwe__row {
  display: flex;
  /* gap: 20px; */
  align-items: flex-start;
	justify-content: space-between;
}

.case-howmightwe__subheading {
  flex: 0 0 200px;
  white-space: nowrap;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-howmightwe__right {
  flex: 0 0 760px;
  display: flex;
  flex-direction: column;
	 max-width: 760px;
  width: 100%;
}

.case-howmightwe__right p + p {
  margin-top: 20px;
}

.case-howmightwe__right p + ul {
  margin-top: 0;
}

.case-howmightwe__subheading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
  flex: 0 0 200px; /* как и предыдущие левые колонки */
  white-space: nowrap;
}

.case-howmightwe__textblock {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
}
.case-howmightwe__textblock ul {
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
	padding-bottom: 16px; /* отступ снизу для лучшего восприятия */
}
.case-howmightwe__textblock li {
  list-style: disc;
}

.case-howmightwe__card {
  margin-top: 20px;
  width: 760px;
  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
	background-color: white;
}

.case-howmightwe__card-header {
  display: flex;
  align-items: center;
	border: 1px solid var(--color-stone-200, #E7E5E4);
	border-bottom: none;
	background-color: #CCFBF1;
  gap: 15px;
  padding: 10px;
	  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* border-bottom: 1px solid var(--color-stone-200, #E7E5E4); */
}

.case-howmightwe__card-header img {
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background-color: #99F6E4;
  padding: 8px; /* опционально — если иконка меньше */
}

.case-howmightwe__card-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-howmightwe__card-list {
  padding: 10px;
	padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.case-howmightwe__card-list li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  list-style: disc;
}
.case-howmightwe__card-list li strong {
  font-weight: 700;
}

/*  */
.case-howmightwe__subheading {
  flex: 0 0 200px;
  white-space: nowrap;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-howmightwe__icon-wrapper {
  width: 46px;
  height: 46px;
  background-color: var(--color-blue-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.case-howmightwe__icon {
  width: 24px;
  height: 24px;
}

.case-howmightwe__goals-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 1px solid var(--color-stone-200);
  border-radius: 8px;
  background-color: #fff;
	margin-bottom: 20px;

	 max-width: 760px;
  width: 100%;

}


.case-howmightwe__goals-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: var(--color-text);
  margin: 0;
}

.case-howmightwe__goals-text strong {
  font-weight: 700;
}

.case-howmightwe__goals-list {
  /* flex: 0 0 760px; */
	 width: 100%;
  max-width: 760px; /* если нужно ограничить по горизонтали */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 0;
	margin-block-end: 0;
  padding: 0;
	padding-top: 20px;
  list-style: none;
}

.case-goals__list {
	margin: 0;
	padding-inline-start:0;
}
.case-howmightwe__row--wide {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.case-insight {
    border-radius: 8px;
  overflow: hidden;
  background-color: white;
	margin-bottom: 20px;
}

.case-insight__header {
  border-top: 1px solid var(--color-stone-200);
  border-left: 1px solid var(--color-stone-200);
  border-right: 1px solid var(--color-stone-200);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--color-green-soft-bg, #CCFBF1);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.case-insight__icon-wrapper {
  width: 46px;
  height: 46px;
  background-color: #99F6E4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-insight__icon {
  width: 24px;
  height: 24px;
}

.case-insight__title {
  font-size: 18px;
  font-weight: 700;
  font-family: Inter, sans-serif;
  line-height: 100%;
  letter-spacing: 0.5%;
}

.case-insight__list {
  list-style: disc;
  padding: 10px 20px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/*  */
/* Design highlights - reusable article container */
.case-highlights__item{
	margin-bottom: 40px;
}
.case-highlights__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.5%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.case-highlights__visual-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.case-highlights__visual-image--wide {
  width: 390px;
}

.case-highlights__visual-image--narrow {
  width: 349px;
}

.case-highlights__visual-image--900 {
  width: 900px;
}


.case-highlights__visual {
  background-color: var(--color-blue-100, #DBEAFE);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
	border-radius: 8px;
	margin-bottom: 40px;
}


/*  */

.case-highlights__title-no-top-margin {
	margin-top: 0;
}
/* .case-howmightwe__right {
  outline: 1px solid red;
}

.case-howmightwe__goals-item {
  outline: 1px solid limegreen;
} */
.add-small-margin-bottom{
	margin-bottom:20px !important;
}
.add-big-margin-bottom{
	margin-bottom: 40px;
}
p.add-small-margin-bottom {
  margin-bottom: 20px !important;
}